body {
  margin: 0;
  background: #000;
}

#videobox {
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: left top;
  transform: scale(.1);
}

#video {
  display: block;
}

p {
  color: white;
}

