body {
  margin: 0;
  background: #000;
}

#videobox {
  top: 10px;
  left: 10px;
  transform-origin: left top;
  transform: scale(.5);
}

#video {
  top: 10px;
  left: 10px;
  transform-origin: right top;
  transform: scale(.1);
  position: absolute;
}

p {
  color: white;
}

